<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jin.mes.cform.perform.performOrderGrid.KwangjinPerformOrderGridMapper">
	<!-- SQLMapper.xml 파일은 <mapper>를 루트 엘리먼트로 사용한다. namespace는 Mapper Interface 경로와 매핑한다. -->
	<!-- XML 의 id 값과 Interface 내의 메서드 명이 일치하면 자동으로 xml과 메서드가 매핑되어 id로 등록된 SQL을 실행할 수 있다. -->
	<!-- 다른 구문에서 재사용가능한 SQL구문을 정의할 때 사용된다. -->
	<sql id="performOrder_base">
			itemInfo.item_id AS itemId, 
			itemInfo.item_nm AS itemNm,
			IFNULL(lotQty,0) AS itemOrderQty, 
			IFNULL(lotAchieve,0) AS itemAchieveQty,
			IFNULL(lotDefect,0) AS itemDefectQty, 
			IFNULL(lotAchieve/lotQty*100,0) AS itemAchieveRate,
			IFNULL(lotDefect/(IFNULL(lotDefect,0)+IFNULL(lotAchieve,0))*100,0) AS itemDefectRate
		FROM bc_item_info itemInfo
		LEFT JOIN (
				SELECT 
					lotInfo.item_id, 
					SUM(lot_qty) AS lotQty,
					SUM(lot_original_qty) AS lotOriginalQty, 
					SUM(badItem.lotDefect) AS lotDefect, 
					SUM(qmItem.lotAchieve) AS lotAchieve,
					SUM(assignItem.prodAsmQty) AS prodAsmQty,
					(
						SELECT SUM(itemRevenue) AS itemTotalRevenue 
						FROM (
							SELECT (SUM(lot_original_qty)*itemInfo.item_price)-(SUM(lot_original_qty)*item_person_cost) AS itemRevenue
							FROM prs_lot_info lotInfo
							INNER JOIN bc_item_info itemInfo
							ON lotInfo.item_id = itemInfo.item_id
							INNER JOIN prs_order_info orderInfo
							ON lotInfo.order_id = orderInfo.order_id
							WHERE 1=1
							GROUP BY lotInfo.item_id
						) sub 
					) AS itemTotalRevenue
				FROM prs_lot_info lotInfo
				LEFT JOIN (
						SELECT lot_id, SUM(bad_qty) AS lotDefect
						FROM prs_bad_product
						WHERE 1=1
						GROUP BY lot_id
					) badItem
				ON lotInfo.lot_id = badItem.lot_id
				LEFT JOIN (
						SELECT item_mgt_id, SUM(item_qty_total) lotAchieve
						FROM qm_item_mgt
						WHERE 1=1
						AND item_qty_target != 'prod_tagt02'
						GROUP BY item_mgt_id
					) qmItem
				ON lotInfo.lot_id = qmItem.item_mgt_id
				LEFT JOIN (
						SELECT plan.lot_id , SUM(prod_asm_qty) AS prodAsmQty
						FROM prs_product_assignment assignment
						INNER JOIN prs_product_plan plan
						ON assignment.prod_plan_id = plan.prod_plan_id
						WHERE 1=1
						GROUP BY plan.lot_id
				) assignItem
				ON lotInfo.lot_id = assignItem.lot_id
				WHERE 1=1
				GROUP BY lotInfo.item_id
		) lotInfo
		ON itemInfo.item_id = lotInfo.item_id
		WHERE IFNULL(lotAchieve,0) > 0
		GROUP BY itemInfo.item_id
		HAVING 1=1
		<if test="searchText != null and searchText != '' ">
			AND ${searchGubun} LIKE CONCAT('%',#{searchText},'%')
		</if>
	</sql>
	<!-- SELECT SQL 구문이 실행되면 ResultSet이 리턴되며, 
		ResultSet에 저장된 검색 결과를 어떤 자바 객체에 매핑할지 지정해야하는데
		이때 resultType, resultMap 속성을 사용할 수 있다.-->
	<!-- Mapper 파일에 등록된 SQL 실행 시 SQL 실행에 필요한 데이터를 외부로부터 받아야할 상황이 있을 수 있다.
		이때 parameterType 속성을 사용할 수 있다. 
		내부적으로 parameter 값을 가져올 수 있는 getter 메서드를 호출한다. -->
    <select id="selectPerformOrder"
        parameterType="jin.mes.cform.perform.performOrderGrid.KwangjinPerformOrderGridDto"
        resultType="jin.mes.cform.perform.performOrderGrid.KwangjinPerformOrderGridDto">
        SELECT * FROM (
            SELECT 
            <choose>
                <when test="sort != null and sort !='' ">
                ROW_NUMBER() OVER(ORDER BY ${sort}) AS RNUM,
                <when>
                <otherwise>
                    ROW_NUMBER() OVER(ORDER BY itemAchiveRate desc) AS RNUM,
                <otherwise>

            </choose>
            <include refid="performOrder_base"></include>
        ) s_table
        <if test="firstIndex != null and firstIndex !=0 and lastIndex != null and lastIndex !=0 ">
            WHERE RNUM <![CDATA [>=]] #{firstIndex} AND RNUM <![CDATA [<=]] #{lastIndex}
        </if>
    </select>

	<select id="selectPerformOrderCount"
        parameterType="jin.mes.cform.perform.performOrderGrid.KwangjinPerformOrderGridDto"
        resultType="java.lang.Integer">
        SELECT count(*)
        FROM(
            SELECT
            <include refid="performOrder_base"></include>
        ) c_table
    </select>
